doctype html
html
  head
    link(rel='icon',href='../static/dance.png')
    title Akshat's Dance Academy
    block style     
    block scripts
  body
    block content
    footer#footer
        | &copy; Copyright 2022 AkshatDanceAcademy.com | All rights are reserved